[2020-12-30 06:15] #617 closed, assigned to MJRLegends

[2020-12-30 06:40] onecrazybacon commented on #617
thanks

[2020-12-30 07:04] onecrazybacon commented on #617
I was able to make the mods compatible! Thank you so much!

[2021-01-04 20:24] Maxi90909 opened #618 "Crash on startup"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
Crash on Startup  ##

### Steps to Reproduce Issue
1. Start up the Game(with the mods that I have they can be seen in the crash report)
2. Crash
**Crash log/Log (https

[2021-01-04 20:26] MJRLegends commented on #618
net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Extra Planets (extraplanets)

Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2021-01-04 20:26] #618 closed, assigned to MJRLegends

[2021-01-10 19:13] MJRLegends commented on #604
MC 1.12.2 Updated released

[2021-01-10 19:13] #604 closed, assigned to MJRLegends

[2021-01-10 19:13] MJRLegends commented on #596
MC 1.12.2 Update have released, MC 1.11.2 & 1.10.2 updates are delayed due a issue, i trying to work something out

[2021-01-10 19:13] MJRLegends commented on #595
MC 1.12.2 Updated released

[2021-01-10 19:13] #595 closed, assigned to MJRLegends

[2021-01-10 19:13] MJRLegends commented on #585
MC 1.12.2 Update have released, MC 1.11.2 & 1.10.2 & 1.8.9 updates are delayed due a issue, i trying to work something out

[2021-01-10 19:14] MJRLegends commented on #522
Not yet fixed this will be in the next round of updates :P sorry for the delay

[2021-01-10 19:14] MJRLegends commented on #500
MC 1.12.2 Update have released, MC 1.11.2 & 1.10.2 & 1.8.9 updates are delayed due a issue, i trying to work something out

[2021-01-10 20:43] MJRLegends commented on #596
MC 1.11.2 & 1.10.2 Updates have released

[2021-01-10 20:43] #596 closed, assigned to MJRLegends

[2021-01-10 20:44] MJRLegends commented on #585
MC 1.11.2 & 1.10.2 Updates have released

[2021-01-10 20:44] MJRLegends commented on #500
MC 1.11.2 & 1.10.2 Updates have released

[2021-01-10 21:30] Nyabloody commented on #522
At least you're still alive and working on this mod! Take your time ^^

[2021-01-11 10:28] mMONTAGEe commented on #585
Thanks!

[2021-01-13 08:54] ghost opened #620 "Mo creatures conflict with this can someone help?(sorry if this is bad I’m new to this)"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
yes

description of issue
When you play this with mo creatures Uranus doesn’t work like it’s all in red. I know 100% this is the mod that’s causing it

### Steps to Reproduce Issue
1. Download

[2021-01-13 10:46] MJRLegends commented on #620
Yea please report to to their mod issue trackers its a issue on their side

[2021-01-13 10:46] #620 closed, assigned to MJRLegends

[2021-01-15 17:19] EngineerXL opened #621 "Iapetus has tier 6, but Saturn and moons have 5"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
Iapetus has tier 6

**Screenshots (if applicable):**
![Screenshot from 2021-01-15 20-16-29](https://user-images.githubusercontent.com/37447286/104757869-a4edd080-576e-

[2021-01-15 17:20] MJRLegends commented on #621
Thanks will be fixed in next updates

[2021-01-21 18:49] timothygremlin opened #622 "More config for Kepler?"
Hello. Would you be able to add a config option to remove the grass generation on Kepler? You would be my hero. Thanks for your work!

[2021-01-21 19:12] MJRLegends commented on #622
It wont be added sorry

[2021-01-21 19:12] #622 closed, assigned to MJRLegends

[2021-01-22 00:59] SZCryo opened #623 "Crashing when i open Galaxy map"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes i have checked closed issues and none worked.
### Description of Issue
I crash everytime i open the galaxy map

### Steps to Reproduce Issue
1. We made basically added 4 mods to tekxit 3 LE

[2021-01-22 01:28] MJRLegends commented on #623
I cant do much without a crash log sorry

[2021-01-22 01:28] #623 closed, assigned to MJRLegends

[2021-01-31 09:04] Xterrori opened #624 "Cant Seem to Have a correct launch pad"
### ---Issue Report---
Cant Seem to Have a correct launch pad
**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes
### Description of Issue
[Description of the issue]
My launchpaud wont let me place a rocket ive checked the tiers and tried placing down a tier 4 one and did it in a 3x3 like usual and i tried it with other rockets on tier 1s and it worked

[2021-01-31 14:22] MJRLegends commented on #624
It needs to be a 5x5 check the item tool tips

[2021-01-31 14:22] #624 closed, assigned to MJRLegends

[2021-02-03 03:40] katnaty opened #625 "Thermal Padding not staying on"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** Yes

### Description of Issue
[Every time I try to put on thermal padding, it "stays" but does not look like I have it on. Problem does not happen with Tier 1. Only Tier 2 and above. Even thought on the me

[2021-02-05 00:44] #625 closed, assigned to MJRLegends

[2021-02-06 12:48] linkcool200 commented on #302
Hi, I know this hasn't been updated in a while, but it seems to be an issue in modpacks, such as SevTech Ages, where I am experiencing this bug currently.  Because I'm playing on a server, I am unable to get my playerdata, so apologies.

[2021-02-06 12:51] MJRLegends commented on #302
Without player data and extra info i can fix or reproduce this issue

[2021-02-10 07:50] jirisek3 opened #626 "Extra planets keep crashing my game"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
[Description of the issue]

### Steps to Reproduce Issue
1. [First step]
2. [Second step]

**Crash log/Log (if applicable):** [PASTEBIN. Do NOT copy and paste the log

[2021-02-10 09:26] MJRLegends commented on #626
You've not even filled out the template so we cant help

[2021-02-10 09:26] #626 closed, assigned to MJRLegends

[2021-02-10 09:46] jirisek3 opened #627 "Extra planets keeps crashing my game"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes
### Description of Issue
[Description of the issue]
When i start loading the modpack it tells me this crash report
### Steps to Reproduce Issue
1. [Start the game]
2. [Wait for it to crash

[2021-02-10 10:33] MJRLegends commented on #627
net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Extra Planets (extraplanets)
Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

Follow the guide for Galaxyspace in the link

[2021-02-10 10:33] #627 closed, assigned to MJRLegends

[2021-02-10 12:26] samuk190 opened #628 "add breathing underwater feature."
As the mod author of galacticraft don't want to include this simple feature since 2013, I'm requesting here.
"with equipped gas mask and water gear. Simply consume oxygen and let stay underwater. "

This will also allow creation of aquactic planets.

[2021-02-15 22:07] therealbungus commented on #302
Heres a copy of my current logs and playerdata. Also playing Sevtech ages

Having the exact same issue as OP, happens with any module besides the sensor glasses after uninstalling it from another piece of armor

[https://paste.ee/p/bCPfu](https://paste.ee/p/bCPfu)
[playerdata.zip](https://github.com/MJRLegends/ExtraPlanets/files/5984322/playerdata.zip)

[2021-02-15 22:19] MJRLegends commented on #302
@therealbungus Looks you you were getting

Please can you confirm you had the required items in your inventory?

[2021-02-15 22:33] therealbungus commented on #302
100% positive I had the required items in my inventory, I had just uninstalled them from the tier 1 space suit and they were still in my inventory. I was trying to install them in the tier 2 space suit.

The GUI showed it cost nothing, there was nothing showing in the left side in the Cost column, and trying to install it again said I didn't meet the requirements.

[2021-02-15 22:36] MJRLegends commented on #302
@therealbungus please can you provide a video of this happening

[2021-02-15 22:46] therealbungus commented on #302
I restarted my game immediately after I encountered the bug and uploaded those logs and the playerdata and it fixed the issue mentioned in the original post, and now I cannot reproduce the issue doing the exact same thing as before. Uninstalling modules from a Tier 1 space suit, equipping a different set of armor, and trying to install them in the new armor.

This comment from a while ago seems to

[2021-02-15 22:47] MJRLegends commented on #302
Ok yea i've never been able to reproduce the issue myself. I guess i will keep trying but its been like 2 years xD

[2021-02-15 22:48] MJRLegends commented on #302
If you get the bug again please please make a video and post it here. i been waiting months/years for someone to give a log and playerdata for this problem

[2021-02-15 22:51] therealbungus commented on #302
The log I provided was immediately after I encountered the issue and the playerdata is right after I closed the game. If I can get it to happen again I will definitely get a video for you with Shadowplay

[2021-02-15 22:54] MJRLegends commented on #302
Thank, yea sadly the playerdata and log provided not much help with the cause that i could see. im still trying to reproduce it sadly i cant :(

[2021-02-15 23:01] MJRLegends commented on #302
Omg i have just reproduced the issue. i have no idea why its broken. Im looking in to it

[2021-02-15 23:45] MJRLegends commented on #302
I have fixed the issue. @therealbungus <3 its probs down to you with your messages i was able to get more of a idea of what was breaking

[2021-02-15 23:45] MJRLegends commented on #302
Issue will be fixed in next update

[2021-02-15 23:46] therealbungus commented on #302
You're a legend, glad I could help fix this years old bug

[2021-02-15 23:49] MJRLegends commented on #302
Me tooo, i was so happy when i reproduced it, the fix is so easy too. i just had to add .copy() to the item stack being added to your inventory when you uninstall the module with already items in the requirements, already in your inventory of the same item.

[2021-02-15 23:50] MJRLegends commented on #302
I also found a issue where if you uninstall the module with a full inventory it crashes as well. so im fixing that also

[2021-02-16 01:32] MJRLegends commented on #597
I found a fix it will be in next update

[2021-02-18 10:28] Healthboost213 opened #629 "Crashes upon Start up"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [YES]

### Description of Issue
[Game Crashes upon startup]

### Steps to Reproduce Issue
1. [Click Launch]
2. [No Second Step]

**Crash log/Log (if applicable):** [https://pastebin.com/g8H85pjs]

**Screen

[2021-02-18 18:06] MJRLegends commented on #629
Because can you post your full log files, after crash has happened

[2021-02-18 18:07] MJRLegends commented on #629
Also as well as the above please try without ExtraPlanets and MJRLegendsLib again and send the log from that too please

[2021-02-19 02:41] Healthboost213 commented on #629
Thanks for the quick response, I think this maybe the full log. I may have posted the wrong one yesterday but here you go

https://pastebin.com/FA37FzZs

[2021-02-19 02:43] Healthboost213 commented on #629
As for the second request, I can only access the "crash reports" but i cannot find the full log as i do not know where it is.

[2021-02-19 03:01] Healthboost213 commented on #629
I may have found the log, I pasted in on Pastebin. Please do take a look.

https://pastebin.com/dw3Whhbk

[2021-02-20 03:03] Healthboost213 commented on #629
I think i may have found the Culprit, Extra planets is not actually compatible with Flan's mod.  It works fine after i removed the mod.

[2021-02-20 03:04] Healthboost213 commented on #629
Thank you for the help man. Highly Appreciated

[2021-02-20 03:04] #629 closed, assigned to MJRLegends

[2021-02-20 23:38] theismarius opened #630 "Tier armors lagging world"
When players equip the tier spacial suit lags at all times.

[2021-02-21 08:38] theismarius opened #631 "Space Suits causing FPS Lag when Wizardry mod installed"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** Yes

### Description of Issue
When reaching planets if im missing the armor game goes well. But when equipping any tier of space suit game starts lagging.

### Steps to Reproduce Issue
1. Reach the moon wi

[2021-02-22 19:26] ToserBan opened #632 "Basic Densifier output doesnt work"
Hi,
I converted liquid glowstone into glowstone with the basic densifier and tried to output the glowstone from the bottom of the machine. I tried thermal expansion itemduct with servos, mekanisms logistical transporter and hoppers. None of them worked.
Minecraft 1.12.2
forge 14.23.5.2854
ExtraPlanets-1.12.2-0.6.4
modpack Tosers Spacecraft

I love your mod
Toser

[2021-02-23 01:23] MJRLegends commented on #632
Please use the provided issue template

[2021-02-23 01:23] #632 closed, assigned to nobody

[2021-02-23 01:28] MJRLegends commented on #621
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 & 1.7.10 updates are delayed due a issue

[2021-02-23 01:29] MJRLegends commented on #597
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue

[2021-02-23 01:29] MJRLegends commented on #302
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue

[2021-02-23 15:09] MJRLegends commented on #631
Please run this sampler on your world, during the lag your getting and export it once you have run it with the lag happening and post the .nps file here please https://docs.mjrlegends.com/General%20Minecraft/profiling/

[2021-02-23 16:08] MJRLegends commented on #621
MC 1.7.10 Update has released

[2021-02-23 22:01] theismarius commented on #631
Done it as best as the client let me, Adding the file. Thanks for the help.

[theismarius.zip](https://github.com/MJRLegends/ExtraPlanets/files/6032039/theismarius.zip)

[2021-02-23 22:20] MJRLegends commented on #631
What kinda lag are you getting, FPS or TPS?

[2021-02-23 22:22] theismarius commented on #631
is on client, cpu gets to 100% of usage and FPS decrease

[2021-02-23 22:23] MJRLegends commented on #631
Yea im not seeing any lag from this sample file from a space suit.

[2021-02-23 22:23] MJRLegends commented on #631
Journey Map seems to be causing much more lag on the client if anything

[2021-02-23 22:24] theismarius commented on #631
Is weird. when im without the space suit game runs fine. But after equipping it starts laggin.

[2021-02-23 22:24] MJRLegends commented on #631
What CPU/GPU have you got any how much ram have you got assigned to minecraft?

[2021-02-23 22:26] MJRLegends commented on #631
Also try without optifine please

[2021-02-23 22:26] theismarius commented on #631
Intel core i5-9400F CPU 2.90GH and have 8GB of RAM assignated to the client.

[2021-02-23 22:28] MJRLegends commented on #631
Ok try without optifine please, as i only see lag to do with optifine and Journey Map & Wizardry Player Animator

[2021-02-23 22:28] theismarius commented on #631
ok im restarting my client

[2021-02-23 22:29] MJRLegends commented on #631
optifine isnt supported by ExtraPlanets so if its the issue then i cant help you

[2021-02-23 22:36] theismarius commented on #631
still happening without optifine. Is there anyway  to disable space suits?

[2021-02-23 22:36] MJRLegends commented on #631
Please can you try without Wizardry mod also and make a new sampler without optifine & Wizardry mod

[2021-02-23 22:45] MJRLegends commented on #631
Also do you have any modules installed on your space suit, if so which ones

[2021-02-23 22:54] theismarius commented on #631
without wizardry mod client doesnt lag

[2021-02-23 22:54] MJRLegends opened #633 "Missing Language Localizations for Solar Panels Modules for Space Suits"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**
**Screenshots (if applicable):**
![](https://i.gyazo.com/e32ae7cdd9c6d84f442d829037918d40.png)
![](https://i.gyazo.com/9fb0ed8f6eb11e67a2bcdd5b800c6a14.png)

**Version of Mod using (PLEASE DONT USE 'Latest' OR 'Newest'):** 0.7.2

[2021-02-23 22:56] theismarius commented on #631
and no, no space modules installed in armor

[2021-02-23 22:56] MJRLegends commented on #631
please can you make me two sample files

1. with wizardry mod added but optfine removed
2. and then one with both wizardry mod and optfine removed.

Its good news we found that wizardry mod it doesnt happen thats progress and is consistent with what i saw in the file sample file

[2021-02-23 22:59] theismarius commented on #631
This sampler is without optifine and optife. Must add that wizardry mod has multiples addon mods installed.
[nwo.zip](https://github.com/MJRLegends/ExtraPlanets/files/6032240/nwo.zip)

[2021-02-23 23:00] theismarius commented on #631
restarting client with wizardry installed without addon mods.

[2021-02-23 23:01] MJRLegends commented on #631
Ok yea it would be great if you could get me the name of the addon causing the issue or if its the base mod

[2021-02-23 23:07] theismarius commented on #631
Seems like the main mod makes the game lag.
[wizardry.zip](https://github.com/MJRLegends/ExtraPlanets/files/6032269/wizardry.zip)

[2021-02-23 23:09] MJRLegends commented on #631
ok yea thought so
![](https://i.gyazo.com/1b940ed28b173bb07341eac0c7a58383.png)

Ok please report it to them with two sample files, one with wizardry installed and one without wizardry (both with optfine removed too) and any screnshots, etc

You can link this issue also

[2021-02-23 23:13] MJRLegends commented on #631
They can message me if they need anything from me :P Let me know what they say. I'll close this issue for now

[2021-02-23 23:13] #631 closed, assigned to MJRLegends

[2021-02-24 05:19] Squiddyboi501 opened #634 "Uranus biome generates in overworld"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues [Yes]

### Description of Issue
[extra planets generates Uranus biome in world]

### Steps to Reproduce Issue
just generate a world and find a Uranus biome

![Uploading 2021-02-24_12.52.22.png…]()
![2021-02-24_12 53 53](https://user-images.githubusercont

[2021-02-24 05:21] Squiddyboi501 commented on #634
![2021-02-24_12 53 01](https://user-images.githubusercontent.com/79560342/108977084-29633580-76c3-11eb-82d6-f265ea0577b4.png)

[2021-02-24 13:24] MJRLegends commented on #634
https://github.com/MJRLegends/ExtraPlanets/issues/589

[2021-02-24 13:24] #634 closed, assigned to MJRLegends

[2021-02-26 12:18] xumingze20090206 opened #635 "error"
Thermal protective clothing and isothermal protective clothing will have a sticker fault when they are put on or off.

[2021-02-26 12:24] MJRLegends commented on #635
Please fill out the issue template dont just delete it

[2021-02-26 12:24] #635 closed

[2021-03-01 10:39] LKAice commented on #492
Worked for me with the Versions:

MicdoodleCore-1.12.2-4.0.2.280
GalacticraftCore-1.12.2-4.0.2.280
Galacticraft-Planets-1.12.2-4.0.2.280
GalaxySpace-1.12.2-2.0.15
More-Planets-1.12.2-2.2.1-GC280
MorePlanetsExtras-1.12.2-1.0
ExtraPlanets-1.12.2-0.7.2

Copied your Configs and both Saturn and Uranus are on the map.
Thank you so much!!!

[2021-03-06 09:12] Stepanek740d opened #636 "This addon for the galacticraft mod adds a STUPID description of the planet/moon making it IMPOSSIBLE TO DO ANYTHING"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
The description of planets is cool i admit BUT IT IS IMPOSSiBLE TO CLoSE OR MOVE Out OF THE WAY MAKiNG it iMPOSSIBLE TO TRAVEL TO  ANY SPACE STATION OR MOON WITHOUT US

[2021-03-07 00:16] MJRLegends commented on #636
You just gotta change your video settings gui scale. Also no need be rude with your caps

[2021-03-07 00:16] #636 closed

[2021-03-07 06:59] Stepanek740d commented on #636
im not rude or anything its just incredibly annoying and all my attempts at getting rid of it just down quite work

[2021-03-09 22:48] NightScale5755 opened #637 "Space stations always dump the player in the overworld"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes.
### Description of Issue
[Description of the issue]
When I go to Y=0 in any space station, it will dump me in the sky of the overworld.
### Steps to Reproduce Issue
1. [First step] Create

[2021-03-11 12:50] MisileLab opened #638 "Disable SpaceSuit 3d Model Feature"
Please add spacesuit 3d model feature in config because 3d model is allocate computer resource too much.

[2021-03-11 22:46] wdh7987 opened #639 "[1.12.2] Settings Not Saving Upon Reboot of Game"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### Description of Issue
The pressure and radiation settings are not saving when I changed them and reboot the game.

### Steps to Reproduce Issue
1. Disable Pressure and Radiation
2. Restart Minecr

[2021-03-12 00:45] TheGam3rKing opened #640 "[1.12.2] Lava spawning underground on Uranus"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### **Description of Issue:**
I found a lava ravine in Uranus, and I'm pretty sure that's not supposed to happen!

### **Steps to Reproduce Issue:**
Play on this seed, go to Uranus and then to those

[2021-03-12 00:55] TheGam3rKing commented on #640
And just one more thing aside, I was kicked/banned from the public Discord of this mod, and I just wanted to know, why? I did nothing wrong (I think)!
I was actually talking with MJRLegends because I was asking if this was normal and he said I needed to report it here, and when I was replying saying I would do this tomorrow, I got banned (I think since the invite doesn't work anymore)!
I sent frie

[2021-03-14 17:45] ghost opened #641 "Fabric Support"
Please, update for 1.16 fabric <3
I know, that, GC isnt already updated, but... maybe together we'll get to the developer and it will also be updated

[2021-03-14 17:53] ghost opened #642 "[1.12.2] Crash Report"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes
### Description of Issue
[Description of the issue]
Crash Report
### Steps to Reproduce Issue
1. when i try to load minecraft the loading screen appears and then it crashes
2. none.
**Crash

[2021-03-14 18:04] ghost commented on #642
(i coudn't see if its not a bug in old issues, sorry.)

[2021-03-14 18:14] MJRLegends commented on #642
Its been posted about a billion times and the solution is already in the crash log

Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2021-03-14 18:14] #642 closed, assigned to MJRLegends

[2021-03-14 19:02] MJRLegends commented on #641
Maybe in the future

[2021-03-15 05:14] ls1234512345 opened #643 "(1.7.10) Higher tier launch pads aren’t available. I don’t know if it’s because I’m using other mods, but I’m assuming not because everything else works fine. I’m not able to reach most of the other planets because of this."
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
[Description of the issue]

### Steps to Reproduce Issue
1. [First step]
2. [Second step]

**Crash log/Log (if applicable):** [PASTEBIN. Do NOT copy and paste the log

[2021-03-15 05:53] #643 closed

[2021-03-15 05:59] ls1234512345 opened #644 "(1.7.10) Higher tier launching pads aren’t available. I’m not sure if it’s because I’ve added other mods into my world, but I’m assuming not because everything else works fine. I’m not able to reach most other planets because of this."

[2021-03-15 11:30] #644 closed

[2021-03-15 17:49] ls1234512345 opened #645 "(Sorry if this looks like spam. I didn't mean to close my issue, so I'm just resubmitting it. Could someone let me know if there also dealing with this?)(1.7.10) Higher tier launch pads aren’t available. I don’t know if it’s because I’m using other mods, but I’m assuming not because everything else works fine. I’m not able to reach most of the other planets because of this."
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
[Description of the issue]

### Steps to Reproduce Issue
1. [First step]
2. [Second step]

**Crash log/Log (if applicable):** [PASTEBIN. Do NOT copy and paste the log

[2021-03-15 17:50] ls1234512345 commented on #645
MJRLegends? Is this issue going on when you tried playing?

[2021-03-15 17:52] ls1234512345 commented on #645
If not, then I won't bother you anymore. It could most likely be because I've added other mods or something along that line

[2021-03-15 18:04] ls1234512345 commented on #645
OH, I found it! I just realized that the higher tier launch pad is called "advanced landing pad". That's why I was confused. I thought that it was called a tier 2 launching pad, because that's what the wiki said. I recommend changing the name to tier 2 launching pad instead of advanced landing pad.

[2021-03-15 18:05] ls1234512345 commented on #645
One last thing before I close this issue, is there any way to reach Jupiter and some of the large gas giants? When I went into space, it said that they were "tier ?". What spaceship do I need in order to go to these planets?

[2021-03-24 05:21] Healthboost213 opened #646 "Add Compatibility for Flan's mod"
I have made an earlier post here mentioning about an error on startup. It was an error due to Flan's mod. I want compatibility between Extra Planets and Flan's mod.

[2021-03-25 04:14] clnoel opened #647 "Densifier not outputting to hopper"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes. Was reported in #632 and #607, but they didn't use the template.

### Description of Issue
Basic Densifier is not outputting to a hopper placed beneath it.

### Steps to Reproduce Issue
1.

[2021-03-26 04:22] wdh7987 commented on #639
I have found a temporary workaround - just edit the .txt file instead of using the in-game Mod Settings. Something about that UI and the changes reflected in it aren't being saved to the .txt file it reads for the settings, even if MC is run as an admin.

[2021-03-31 14:21] Nepeskalle opened #648 "Galacticraft server crash telepad."
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes
### Description of Issue
[Description of the issue]
We don't really know anything of the issue, all we know is that there is galacticraft and the telepad that causes the issue.
### Steps to

[2021-03-31 14:22] MJRLegends commented on #648
ExtraPlanets doesnt have a telepad, please report to Galacticraft instead

[2021-03-31 14:23] #648 closed, assigned to MJRLegends

[2021-03-31 23:24] tishaak opened #649 "Unknown Java/Graphics Errors/Crashing"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### Description of Issue
[after playing some time the game Will suddenly crash
It works fine with only galacticcraft but adding extra planets causes the crash to happen(assumimg pojavlauncher is use

[2021-04-03 15:58] tishaak commented on #649
Edited the comment to give more specific details of the mods ans their versions
Hope this helps more

[2021-04-03 18:07] MossCG opened #650 "Rocket related Crash (Using catserver for server software)"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
launch a rocket
crash on enter Pluto

On mulitplayer server
proxy server use waterfall(lastest version)
mod server use catserver(lastest version)
(maybe crash because

[2021-04-03 18:18] MossCG opened #651 "Unknown cause of lander spawning from Magma Cube (Using catserver for server software)"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
as title
it display as a space lander......?

### Steps to Reproduce Issue
1. get a spawn egg
2. spawn a evolved magma cube

**Crash log/Log (if applicable):** [PASTEB

[2021-04-03 18:19] MossCG commented on #651
but ......
it do not happened on 0.7.0

[2021-04-03 19:32] MJRLegends commented on #649
Please can you include a crash log with no optifine installed

[2021-04-08 18:24] tishaak commented on #649
Problem is
It doesnt make or show any crash log, even without optifine
Altough i do have the lastestlog without optifine
https://pastebin.com/TKmA63WZ

[2021-04-08 19:44] MJRLegends commented on #649
I think the issue is PojavLauncher. Its probably assigning a dependency or something incorrectly.

[2021-04-15 21:34] Daminecraftbro commented on #649
Whats that?

[2021-04-15 21:40] Daminecraftbro opened #652 "Mod doesnt work with galaxyspace"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** No

### Description of Issue
When I try to launch the game It crashes

### Steps to Reproduce Issue
1. Use galaxy space with extra planets
2. launch minecraft

**Crash log/Log (if applicable):** [PASTEBIN.

[2021-04-15 21:43] MJRLegends commented on #652
Another Galacticraft addon Compatibility Support:
MC 1.7.10 - https://docs.mjrlegends.com/ExtraPlanets/1.7.10compact/
MC 1.12.2 - https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/
MC 1.8.9-1.11.2 - https://docs.mjrlegends.com/ExtraPlanets/1.8-1.11compact/

[2021-04-15 21:43] #652 closed, assigned to MJRLegends

[2021-04-22 16:13] ghost opened #653 "Add permission nodes for luckperms permissions support"
i tried extraplanets.* and it didnt work

(and the wiki bamboozled me i didnt ask for modpack permissions)

[2021-04-22 17:21] ghost opened #654 "Sponge related Space Suit modules resetting"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No] yes

### Description of Issue
[Description of the issue] read title

### Steps to Reproduce Issue
1. [First step] get tier 4 space suit
2. [Second step] install all modules
3. [Third step] chan

[2021-04-23 11:10] ghost commented on #654
also happens when you jetpack

[2021-04-25 00:20] LePizzaRabbit opened #655 "Crash on Start Up."
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### Description of Issue
[Crashing on startup, added these mods to RL craft modpack]

### Steps to Reproduce Issue
1. [Started up the game]
2. [Not applicable]

**Crash log/Log (if applicable):** [h

[2021-04-25 00:29] MJRLegends commented on #655
Your forge/fml launcher files. or your modded instance is broken. This isnt anything related to ExtraPlanets so i cant do anything for you.

[2021-04-25 00:29] #655 closed, assigned to MJRLegends

[2021-04-25 01:13] ThiccBoy69 opened #656 "soft-crash when going to any of the planets added by extraplanets"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes
### Description of Issue
[Description of the issue]
Whenever going to any of the planets added by extraplanets, my game stops responding and a crash-log is created. For some reason the game

[2021-04-25 02:32] MJRLegends commented on #656
You've download ExtraPlanets from a unofficial site. Download it from curseforge only.

[2021-04-25 02:32] #656 closed, assigned to MJRLegends

[2021-04-25 16:15] ThiccBoy69 commented on #656
I have downloaded the mod from curseforge and its library and it seemed to fix a lot of things, but for some reason Jupiter Saturn Uranus Neptune Haumea and Makemake are disabled and I don't know how to fix that.

[2021-04-25 16:34] MJRLegends commented on #656
Do you have mo creatures mod?

[2021-04-25 16:37] MJRLegends commented on #654
Please post latest.log after having these issues. Do a before and after player data please.

[2021-04-25 17:58] ThiccBoy69 commented on #656
Nevermind I figured it out, turns out they were disabled in the config. Thanks, downloading it from curseforge helped!

Have no clue where I got it from previously though.

[2021-04-25 21:21] MJRLegends commented on #651
Hello. I cant reproduce this with the level of testing with just forge itself, please provide any more details you can.

It looks like a issue with your proxy server setup, and plugins, etc

[2021-04-25 21:25] MJRLegends commented on #646
I cant sorry, i dont know the issue their mod is causing apon ExtraPlanets. Please contact them

[2021-04-25 21:25] #646 closed, assigned to MJRLegends

[2021-04-25 21:29] MJRLegends commented on #650
Please can you test on just a forge server rather than catserver, as i think catserver is the possible issue here

[2021-04-25 21:34] MJRLegends commented on #653
Thanks for your suggestion but ExtraPlanets doesnt actually add any commands.. It only uses any Galacticraft added commands!

[2021-04-25 21:34] #653 closed, assigned to MJRLegends

[2021-04-25 21:37] MJRLegends commented on #651
P.S looking at your #650 issue, please also do the following as suggested there for this issue

[2021-05-04 20:53] FIREBALL-Z42 opened #657 "It crashes when booting up"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No] Yes

### Description of Issue
[I boot up my game and it crashes and says that it was because of extra planets]

### Steps to Reproduce Issue
1. [Press play on Curseforge]
2. [Press play on MC l

[2021-05-04 20:57] FIREBALL-Z42 commented on #525
So like Subnautica kinda?

[2021-05-04 20:58] FIREBALL-Z42 commented on #525
I'm not a dev but that's what I think would be cool

[2021-05-04 21:00] FIREBALL-Z42 commented on #657
I'm confused it may be the other addons for Galacticraft or just the mod

[2021-05-04 21:05] MJRLegends commented on #657
Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2021-05-04 21:05] #657 closed, assigned to MJRLegends

[2021-05-06 05:43] chyper111 commented on #525
yes it would be

[2021-05-17 22:47] FlierMcDuck opened #658 "Densifier NBT Saving Crashing Server"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### Description of Issue
I was trying to finish my basic machine collection when I made a Densifier. It worked fine for the first few seconds, but every time I interacted with the block it would cut

[2021-05-21 10:21] ghost opened #659 "Update 1.16.5"
I suppose, galacticraft will not be updated to forge 1.16.5, there's not even a brunch in git,
but this version really popular (such as 1.12.2, or 1.7.10)
So, you can use this mod as core, i think: https://www.curseforge.com/minecraft/mc-mods/space-bosstools
This is almost a full port of galacticraft...
Just specify in the README that 1.16.5 requires Space-Bosstools, instead of galactycraft.

Or,

[2021-05-25 15:17] CandyPillager opened #660 "Weird lighting/rendering bugs on several planets"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
 Yes
### Description of Issue
[Description of the issue]
All of the planets have weird lighting bugs, making shadows look weird... almost like you're in a 2Dworld...
### Steps to Reproduce Issu

[2021-05-25 16:25] MJRLegends commented on #660
Please can you test with just the minimum mods like ExtraPlanets and its required mods

And make sure no optifine too if possible

[2021-05-29 10:47] Kruczyslaw opened #661 "A Polish Language for ExtraPlanets"
[Polish lang.zip](https://github.com/MJRLegends/ExtraPlanets/files/6564521/Polish.lang.zip)

[2021-05-30 17:49] #659 closed, assigned to MJRLegends

[2021-05-30 17:50] MJRLegends commented on #661
Thank you, it will be added in the next round of updates when possible

[2021-05-30 17:50] #661 closed, assigned to nobody

[2021-05-30 18:02] MJRLegends commented on #598
Thanks for the suggestion, this will be update in next round of updates

[2021-05-30 18:29] MJRLegends commented on #637
Thanks, i will fix in next round of updates

[2021-05-30 18:59] MJRLegends commented on #522
Ok looks my check only works if you have a full suit of any armour on, i will fix this for next update

[2021-05-30 19:55] xJon opened #662 "Tier 1/2 batteries not taking ore dict lead"
### ---Issue Report---

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### Description of Issue
As the title says.

**Version of Mod using (PLEASE DONT USE 'Latest' OR 'Newest'):** [0.7.2]

**Where did this bug happen:** [Single Player]

[2021-05-30 20:51] MJRLegends opened #663 "Recipe to Obtain EnviroEmergencyKit from crafting as well as /gckit or Death Calling Houston GC system"
Recipe to Obtain EnviroEmergencyKit from crafting as well as /gckit or Death Calling Houston GC system

[2021-05-31 22:00] N1njakiw1 opened #664 "Error loading"
### ---Issue Report---

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### Description of Issue
crashed when i to load

### Steps to Reproduce Issue
1. just starting up the game

**Crash log/Log (if applicable):** [PASTEBIN. Do NOT copy and paste the log into the issue post itself. See below on how to get them]
im just using the norma mojang launcher sooo

[2021-06-01 02:46] MJRLegends commented on #664
Please include that crash log

[2021-06-01 04:00] N1njakiw1 commented on #664
---- Minecraft Crash Report ----

WARNING: coremods are present:
  IELoadingPlugin (ImmersiveEngineering-core-0.12-98.jar)
  GSHooksLoader (GalaxySpace-1.12.2-2.0.16.jar)
  CreativePatchingLoader (CreativeCore_v1.10.61_mc1.12.2.jar)
  ForgelinPlugin (Forgelin-1.8.4.jar)
  midnight (themidnight-0.3.5.jar)
  MekanismCoremod (Mekanism-1.12.2-9.8.3.390.jar)
  MicdoodlePlugin (MicdoodleCore-1.12.2-4.0.

[2021-06-01 06:47] MJRLegends commented on #664
Caught exception from Extra Planets (extraplanets)
Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2021-06-01 06:47] #664 closed, assigned to MJRLegends

[2021-06-09 23:30] MJRLegends commented on #662
Update has been released

[2021-06-09 23:30] #662 closed, assigned to MJRLegends

[2021-06-09 23:31] MJRLegends commented on #658
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue

[2021-06-09 23:31] MJRLegends commented on #647
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue

[2021-06-09 23:31] MJRLegends commented on #640
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue. And 1.7.10 update will be later on too

[2021-06-09 23:32] MJRLegends commented on #637
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue

[2021-06-09 23:32] MJRLegends commented on #598
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue. And 1.7.10 update will be later on too

[2021-06-09 23:33] MJRLegends commented on #522
MC 1.12.2 & 1.11.2 & 1.10.2 Update have released, MC 1.8.9 update are delayed due a issue

[2021-06-10 01:57] NightScale5755 commented on #637
Ok, so. The latest curse update fixes this issue for EP planets, but base Galacticraft planets seem to insist on persisting this issue. Not too big of an issue, but still kind of triggers my OCD.

[2021-06-10 03:23] MJRLegends commented on #637
Which ones? as they are probably not ExtraPlanets added stations

If its Mars or Venus station, please send your ExtraPlanets config file and what other addons do you use?

[2021-06-10 07:23] snow-sky233 opened #665 "Want to add HD40307 solarsystem（希望添加一个HD40307星系）"
I still hope that this mod can add a planetary system HD40307, you can consider making a terrestrial planet HD40307 g, just make that planet, and see if you want to make a dark blaze boss. If you can make an tier11 rocket, you can make a dark blaze boss at Kepler 22b. If you can't do it, you won't add boss for the time being.

（我挺希望这个mod可以添加一个HD40307行星系统，你可以考虑制作一个类地行星HD40307 g，只制作那个星球，看看你是否想制作一个暗黑

[2021-06-10 16:53] NightScale5755 commented on #637
Like I said, it's base Galacticraft stations. Mars, Venus, The Moon.
I'm only using Galacticraft and Extra Planets, plus Planet Progression. Either way, here's yer config:
https://pastebin.com/ZeKTNRRC

[2021-06-10 17:03] MJRLegends commented on #637
Ahh ok i was sure these were ok when i tested. I will check it out later

[2021-06-10 17:16] NightScale5755 commented on #637
ok. I'll test with a fresh wipe of the config file too.

EDIT: Fresh config did NOT help.

[2021-06-10 23:08] MJRLegends commented on #637
Ok i can reproduce issue, i will fix for next update sorry :P

[2021-06-10 23:22] NightScale5755 commented on #637
yer fine. Thanks for fixing it!

[2021-06-14 17:39] Electroblob77 commented on #631
Hi there, finally got round to looking into this (it's been ages, I know 😅). Turns out it is kind of an issue with Extra Planets, but it's not obvious at all.

I've been seeing this issue with other mods too (namely Rats), it's to do with the method `ItemArmor#getArmorModel`, which gets called every tick. Both Rats and Extra Planets simply create a new model instance here, which is unnecessary sin

[2021-06-14 17:46] harishselvakumar05 opened #666 "Every single mob, including player, is moving super fast after the addition of the mob"
I was playing on tekxit 3 and I wanted to add this mod, and after I did whenever I moved even slightly the player speed was very fast and I moved large distances, mobs are also moving very very fast and their animations are sped up by quite a bit. Not sure why this is

[2021-06-14 19:35] MJRLegends commented on #666
Use issue template please when reporting bugs. Dont just delete it

[2021-06-14 19:35] #666 closed, assigned to nobody

[2021-06-15 23:43] MagmaSlime123 opened #667 "Crash with Galaxyspace"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):**
Yes.

### Description of Issue
Title.

### Steps to Reproduce Issue
Use this mod with MorePlanets and any other Galacticraft addons/dependencies.

**Crash log/Log (if applicable):**
https://pastebin.com/P7

[2021-06-16 02:45] MJRLegends commented on #667
Crash is with Galaxyspace

Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2021-06-16 02:46] #667 closed, assigned to MJRLegends

[2021-06-16 15:47] MagmaSlime123 commented on #667
Already disabled that Space Station. Still get a crash when entering the planet selection GUI.

[2021-06-16 22:51] MJRLegends commented on #667
@MagmaBro123 probs need to follow all steps on the link provided via your crash log. theres more than one step. i know the crash your probs getting as i coded it to do that :P please follow all steps at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/ for any of the addons you have which are listed there.

[2021-06-30 03:34] Kitzuchi opened #668 "Crash when disabling certain Tools/Items config options but not others."
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes]

### Description of Issue
Failed to load "The 1.12.2 Pack" after it crashed loading ExtraPlanets during the startup

### Steps to Reproduce Issue
1. [First step]
2. [Second step]

**Crash log/Log (if

[2021-06-30 15:22] MJRLegends commented on #668
Thanks i know the issue here and will fix for ExtraPlanets mod, but talking with the pack owner of the The 1.12.2 Pack he confirms the config options that would cause this issue are different to what they would need to be to trigger this crash. Please reinstall the mod pack to get the correct config files :P

[2021-07-04 04:13] visitor257 opened #669 "crash when press [m]"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]

### Description of Issue
[Description of the issue]

### Steps to Reproduce Issue
1. [First step]
2. [Second step]

**Crash log/Log (if applicable):** [PASTEBIN. Do NOT copy and paste the log

[2021-07-04 04:17] #669 closed, assigned to MJRLegends

[2021-07-04 04:17] MJRLegends commented on #669
You haven't filled out the template! Please remake a issue with it filled out

[2021-07-06 12:49] Creet1724 opened #670 "Galaxy Space compatibility and disabling planets"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** Yes

### Description of Issue
When you enable compatibility with Galaxy Space and disable a planet, it will crash on start.

### Steps to Reproduce Issue
1. Enable compatibility with Galaxy Space
2. Disabl

[2021-07-06 12:56] MJRLegends commented on #670
Please report to Galaxyspace

[2021-07-07 01:10] Frostiocean opened #671 "Minecraft Galacticraft Crash with Asmodeus Core, Galaxy Map, Extra Planets With config disabled already"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes
[crash-2021-07-06_20.54.44-client.txt](https://github.com/MJRLegends/ExtraPlanets/files/6773554/crash-2021-07-06_20.54.44-client.txt)

### Description of Issue
[Description of the issue]

w

[2021-07-07 06:49] #670 closed, assigned to MJRLegends

[2021-07-07 16:00] MJRLegends commented on #671
I believe this is a already reported bug with Asmodeus core config not saving check out this discord or/and issue tracker for any solutions they have

[2021-07-07 16:00] #671 closed, assigned to MJRLegends

[2021-07-08 22:59] CheetahCyberBoi commented on #577
I also have this issue, wondering if you could fix it?
This glitch happens at y=128

[2021-07-09 17:29] PotassiumMan opened #672 "More planets not working on my Aternos server, but does in singleplayer (their issue or this issue)"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
yes
### Description of Issue
[Description of the issue]
On my aternos server, more planets is having some issues "mixin". It works perfectly fine singleplayer. I have a different Aternos server

[2021-07-09 17:52] MJRLegends commented on #672
Sorry this isnt the issue tracker for More Planets, you have the wrong mod

[2021-07-09 17:52] #672 closed, assigned to MJRLegends

[2021-07-09 17:53] MJRLegends commented on #672
This is the one you want https://github.com/SteveKunG/MorePlanets/issues

[2021-07-09 18:14] PotassiumMan commented on #672
oh sorry

[2021-07-09 21:32] Dreaksman opened #673 "add XP for cast iron for compressions for ores and heavy plating."
Good morning,

I had just noticed that on this mod you don't get xp when you do smelting or compressing ores and heavy plating from the extraplanet mods as opposed to the classic Galaticraft.

It could be interesting to make new enchantments or to dismantle objects in exchange for XP.

[2021-07-09 22:18] Dreaksman opened #674 "empty chest in the Mercury dungeon"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes

### Description of Issue
I saw that there was a change in the Mercury and Jupiter dungeon. When I explored the new Mercury dungeon I noticed that the bonus chests were empty. In the level

[2021-07-16 10:05] Michele1303 opened #675 "Incompatibility with AsmodeusCore"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** Yes

### Description of Issue
I searched for this problem and I found something similiar, but nothing couldn't solve the problem. So I started a world with a modpack with a lot galacticraft addons (10 addo

[2021-07-16 12:10] MJRLegends commented on #675
java.lang.RuntimeException: Please disable the following option: enableNewGalaxyMap in configs/AsmodeusCore/core.conf

[2021-07-16 12:10] #675 closed, assigned to MJRLegends

[2021-07-16 12:11] MJRLegends commented on #675
Also theres a bug in some Asmodeus core versions where config wasnt saving so contact them for details of thats the case for you

[2021-07-16 12:17] Michele1303 commented on #675
Ok, thanks

[2021-07-18 19:33] EatCodeSleep2 opened #676 "My space suit and other things dont appear on me."
how come when I put on my space suit, there is nothing appearing on me
https://gyazo.com/6ec6eff3086c04bd06207220ceadd2b6

[2021-07-18 19:57] MJRLegends commented on #676
Please fill out the issue template provided when creating a new issue

[2021-07-18 19:57] #676 closed, assigned to MJRLegends

[2021-07-18 20:11] EatCodeSleep2 opened #677 "Space suit not showing up on avatar"
### ---Issue Report---
**(PLEASE DON'T DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO.)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING):** [Yes or No]
Yes

### Description of Issue
[Description of the issue]
When I put on a spacesuit, it doesn't show up on me.
### Steps to Reproduce Issue
1. [First step] put on a tier 1 spacesuit
2. [Second

[2021-07-18 20:53] MJRLegends commented on #677
Please post a mod list and a full log file

[2021-07-18 21:32] MJRLegends commented on #673
Defo yea, idk why i dont offer any xp currently, i will change in next update :P

[2021-07-18 21:53] #641 closed, assigned to MJRLegends

[2021-07-18 23:22] MJRLegends commented on #577
Finally found the reason and fixed the cause of the random cutting and floatly bits on mercury. turns out to be a bug so i've opened this bug report :P

[2021-07-18 23:24] MJRLegends commented on #674
Thanks, turns out i forgot to make the loot table files xD

[2021-07-19 01:07] EatCodeSleep2 commented on #677
[latest.log](https://github.com/MJRLegends/ExtraPlanets/files/6837254/latest.log)

[2021-07-19 02:38] MJRLegends commented on #677
Firstly you have downloaded MicdoodleCore from an unofficial site instead of curseforge or the devs actual site. 9minecraft isnt a official site.

Secondly you are using a 2 year old year of ExtraPlanets if the version number you gave above is correct....

Thirdly i me and many other mod devs dont support Optifine either so sorry you wont be able to get visual bug support while using that, but you

[2021-07-19 02:38] #677 closed, assigned to MJRLegends

[2021-07-19 03:18] MJRLegends commented on #677
https://www.curseforge.com/minecraft/mc-mods/mjrlegendslib/files/3344068

https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3345725

https://www.micdoodle8.com/mods/galacticraft/downloads download 280 build for mc 1.12.2

[2021-08-04 19:18] Migmag789 opened #679 "[1.12.2] Errors when having blank lines within the config for the items to be considered a Space Suit"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes]

### Description of Issue(Required)
[A player landed on the moon and was disconnected, now the player can't connect on the server.]

### Steps to Reproduce Issue(Required)
1. [L

[2021-08-04 19:23] MJRLegends commented on #679
Please can i see your servers ExtraPlanets config

[2021-08-04 19:37] Migmag789 commented on #679
Ok, here's the link: https://pastebin.com/LUULedjr
Thank you for your fast answer!

[2021-08-04 20:47] MJRLegends commented on #679
Please try removing any blank lines from the following option
**S:"List of armour items to be considered as a space suit" <**

[2021-08-05 06:41] Migmag789 commented on #679
Ok thank you very much I'll do that!

[2021-08-05 16:46] Migmag789 commented on #679
Hi, now it seems to work (which means we can go on the moon without being permanently disconnected), however, now the game consumes all the resources of both all players (including me) and server when someone goes on a planet, there are TPS problems, the gravity is the same as earth, the game freezes everytime we load a chunk, the oxygen/pressure/radiation bar doesn't show up on planets (I've test

[2021-08-05 17:25] MJRLegends commented on #679
Not sure first ive heard of anything like that. Glad your config issue is still fixed im going to leave this open to remind me to add a bypass for blank lines in the config so it doesn't happen for anyone else.

For any other issues other than this config one please make a new issue report

[2021-08-05 18:45] Migmag789 opened #680 "[1.12.2] Huge bugs on the moon (and other planets/moons)"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes]

### Description of Issue(Required)
[When going on the moon, my computer (and any computer of any player in any GC/EP dimension) starts consuming everything, also there is earth

[2021-08-05 20:05] MJRLegends commented on #680
Is it just the moon that has the issues, are any of the actual ExtraPlanets ones have the issues

[2021-08-05 20:19] Migmag789 commented on #680
I've tested with Saturn and Triton and it's the same, so it's all the planets I guess

[2021-08-06 02:32] MJRLegends commented on #680
Ok please can you make a backup of your world, or try on a new single player world, and try removing ExtraPlanets and see if it still happens on the moon or mars, venus?

[2021-08-06 07:21] Migmag789 commented on #680
Hi, so I tried as you said, and I don't have any lags tho the gravity is still the same as earth's and there is no oxygen bar showing up. I'm very confused about this problem, and I don't know if I should also report this to Galacticraft (I initially tried but could not find where to put the issue)

[2021-08-06 17:36] MJRLegends commented on #680
Since the issues happen without ExtraPlanets theres nothing i can do to fix any issues. Please report to Galacticraft

[2021-08-06 17:36] #680 closed, assigned to MJRLegends

[2021-08-06 18:25] Migmag789 commented on #680
Hi, I'm sorry to bother you again, but I can't find where I'm supposed to report issues to Galacticraft, do you know a link ?

[2021-08-06 19:22] MJRLegends commented on #680
https://github.com/TeamGalacticraft/Galacticraft-Legacy/issues

[2021-08-07 15:27] Migmag789 commented on #680
Thanks! I found the problem, it was the mod Universal Remote. That's weird but I guess that's how it is. Thank you for helping me, sorry for bothering you, thanks for your amazing mod and have a great day!

[2021-08-08 12:07] MJRLegends commented on #680
Ahh yea looking at the mods code that mod is badly coded as it overrides dimensions causing major issues

[2021-08-09 03:34] l33tdaniel commented on #436
For whatever reason, I still get a crash report even after disabling enableNewGalaxyMap in configs/AsmodeusCore/core.conf

I have the exact same error as the user above.

[2021-08-09 09:39] ItzNovaXD opened #681 "I can't find the core config files for more planets mod"
I cant find the core config files anywhere! this is all that I see

More planets:  https://pastebin.com/bd0kpAin

help me find the core config files pls

[2021-08-09 09:44] #681 closed, assigned to nobody

[2021-08-09 19:22] MJRLegends commented on #436
Yea thats a Asmodeuscore issue their config wasnt saving correctly, contact them for deals on best way to fix

[2021-08-09 19:23] MJRLegends commented on #681
You probably noticed already but this isnt the issue tracker for MorePlanets.

This mods config is called ExtraPlanets.cfg

[2021-08-16 19:38] G-hostfox opened #682 "New Chinese translation"
[zh_CN.zip](https://github.com/MJRLegends/ExtraPlanets/files/6994955/zh_CN.zip)

[2021-08-16 19:42] MJRLegends commented on #682
Thank you, will be added in next updates

[2021-08-16 19:44] MJRLegends commented on #682
Please could you translate
[code]

for me ready for features in the next update

[2021-08-16 20:13] G-hostfox commented on #682
New galaxy?
or
A machine that can control rockets to other galaxies？

[code]

[2021-08-16 21:24] MJRLegends commented on #682
Thanks, Just galaxy map changes im working on

[2021-08-17 19:13] SviatoslavZinch opened #683 "Moon problem"
I have a bug:  moon is replaced by oberon

[2021-08-17 21:33] MJRLegends commented on #683
Please use the issue template provided when reporting bugs

[2021-08-17 21:33] #683 closed, assigned to MJRLegends

[2021-08-18 05:53] SviatoslavZinch opened #684 "Moon problem"
I have a bug: moon is replaced by oberon

[2021-08-18 10:45] #684 closed, assigned to MJRLegends

[2021-08-27 13:06] Lewyfcb9pro opened #685 "Game crashing when opening the galaxymap"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
yes
### Description of Issue(Required)
When I open the galaxymap the game just crashes on both a server and a singleplayer world then the game just closes and I already ch

[2021-08-27 13:08] MJRLegends commented on #685
java.lang.RuntimeException: Please disable the following option: enableNewGalaxyMap in configs/AsmodeusCore/core.conf

[2021-08-27 13:08] #685 closed, assigned to MJRLegends

[2021-08-27 13:09] MJRLegends commented on #685
If it still crashes contact Asmodeus core dev to how to fix their config saving issue they have with some versions

[2021-08-27 13:14] Lewyfcb9pro commented on #685
Yeah I kinda did that 20 times now and it still doesn't work

[2021-08-27 13:23] Lewyfcb9pro commented on #685
alright thanks didn't see this message

[2021-09-04 15:50] ghost opened #686 "Minecraft Crashes at start"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
Yes

### Description of Issue(Required)
[When I start minecraft my minecraft crashes]

### Steps to Reproduce Issue(Required)
1. [Install addons for GalactiCraft including

[2021-09-04 23:11] MJRLegends commented on #686
Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2021-09-04 23:11] #686 closed, assigned to MJRLegends

[2021-09-09 00:14] darthvader45 opened #687 "Galacticraft Launch Pad does not go into lander inventory after launching rocket"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No] Yes

### Description of Issue(Required)
[Description of the issue]
Lander does not contain rocket launch pad after launching to any planet
### Steps to Reproduce Issue(Req

[2021-09-09 03:53] MJRLegends commented on #687
Please can you test without ExtraPlanets installed, make sure to copy your world or use a new world so you don't mess up your world from removing mods

[2021-09-09 13:32] darthvader45 commented on #687
Alright, will test.

[2021-09-10 11:38] darthvader45 commented on #687
Alright, it's definitely ExtraPlanets.  As soon as I tested (on a separate superflat) after disabling it, I got the launch pads back after launching to the moon.

[2021-09-16 01:35] darthvader45 opened #688 "Oxygen Tank Swapper, Oxygen Gear Equipper and Geiger Counter Modules UnEquip when moving around"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No] Yes

### Description of Issue(Required)
[Description of the issue]
The modules mentioned will randomly unequip and essentially delete themselves after moving around.
### S

[2021-09-17 16:07] darthvader45 opened #689 "Tall Grass on Kepler 22b and cookies gotten from Cookie Rocks have no texture"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]

### Description of Issue(Required)
[Description of the issue]
When mined, tall grass and cookie rock cookies have no texture.
### Steps to Reproduce Issue(Required)
1. [F

[2021-09-21 16:37] Pregothedog opened #690 "Only Mercury and Kepler 22b planets work"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):**  Yes

### Description of Issue(Required)
When I use this mod normally there are planets like Jupiter, Saturn, Uranus...
However It shows me that:

1/Only Mercury and Kepler are access

[2021-10-01 17:00] Danielle11604 opened #691 "ExtraPlanets Crashes on load 1.12.2 (included crash report please help)"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  AstralCore (astralsorcery-1.12.2-1.10.27.jar)
  GSHooksLoader (GalaxySpace-1.12.2-2.0.16.jar)
  Inventory Tweaks Coremod (InventoryTweaks-1.63.jar)
  MekanismCoremod (Mekanism-1.12.2-9.8.3.390.jar)
  MicdoodlePlugin (MicdoodleCore-1.12.2-4.0.2.280.jar)
  CoreMod (Aroma1997Core-1.12.2-2.0.0.2.jar)
  SteveKunGLibPlugin (SteveKunG's-L

[2021-10-01 17:23] MJRLegends commented on #691
Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -31 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2021-10-01 17:24] #691 closed, assigned to nobody

[2021-10-10 17:31] SilverBackSpartan commented on #637
how do i fix this - my first time going to space and i cant create a station - now i have no option to go there or create one for Overworld. i am on 1.2.2 using EP 0.7.3

[2021-10-10 17:54] SilverBackSpartan opened #692 "Space stations always dump the player in the overworld STILL"
on latest version of GC and Extra planets. First time ever going to space - it took my materials and dumped in overworld. Did it twice now and no option to rebuy station for overworld

[2021-10-10 18:11] MJRLegends commented on #692
1. Already a issue report for this.

2. Please use the issue template next time

[2021-10-10 18:11] #692 closed, assigned to MJRLegends

[2021-10-10 18:12] MJRLegends commented on #692
#637

[2021-10-10 18:20] SilverBackSpartan commented on #637
@MJRLegends is there any way to fix this? should i just remove extra planets so i can play the mod?

[2021-10-10 18:25] MJRLegends commented on #637
No

[2021-10-23 05:09] PrimalGN commented on #492
I'm having a similar sort of problem with planet progressions i have the same mods with versions the only problem planet progressions seems to not work with all these addons because in logs it says disable the asmodeuscore galaxy map when i use planet progression with the addons!

[2021-10-24 23:56] Canina-X opened #693 "The "general info" wont go away if i click on a planet"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes]

### Description of Issue(Required)
So if i launch a rocket i go to space. But then i get the interface as normal, but if i double click a planet the general info wont go away,

[2021-10-27 23:26] xJon opened #694 "Basic Decontamination Unit radiation config & item description"
### ---Issue Report---
### Description of Issue
It seems that changing the radiation values of the Basic Decontamination Unit does not affect its description.

**Screenshots (if applicable):**
![image](https://user-images.githubusercontent.com/8945347/139161557-23809fff-3046-4513-9586-44532eca17a0.png)
![image](https://user-images.githubusercontent.com/8945347/139161561-bb6195f9-7f9d-421a-abaa-429

[2021-11-03 17:51] MJRLegends commented on #693
Yea its not meant to but you can change your `Change your gui scale in your video settings to normal or small `to see things better

[2021-11-03 17:51] #693 closed, assigned to MJRLegends

[2021-11-03 17:52] MJRLegends commented on #690
Please post a copy of your full log files

[2021-11-03 18:01] MJRLegends commented on #689
Thanks i've also improved the cookie rock texture too

[2021-11-03 21:31] darthvader45 commented on #689
Awesome, good to know.

[2021-11-04 00:45] MJRLegends commented on #689
Please keep the issue report open in till updates have been released with the changes included

[2021-11-04 21:20] darthvader45 commented on #689
Oh, sorry.

[2021-11-11 03:57] CrawlerYT opened #695 "bosses are too plain"
yeah the bosses are a bit TOO plain because unlike bosses like the Evolved Creeper boss needs to be hit back WITH its tnt
the bosses should be a bit more unique like the evolved magma cube boss should only be attackable when it jumps and plz make sure to make all dungeon tier keys immune to lava+fire??? and finally add all of those planets kk byeeeeeeeeeeeeeeeeeeeeeeeeeeeee

[2021-11-11 11:24] #695 closed, assigned to MJRLegends

[2021-11-12 00:12] leocorrea75 opened #696 "Incompatibility with ExtraPlanets and Galaxy Space"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
Yes

### Description of Issue(Required)
[Haumea from Galaxy Space not showing when  ExtraPlanets is on
### Steps to Reproduce Issue(Required)

1. [First step]
Install the

[2021-11-12 00:12] leocorrea75 commented on #696
sorry for bad english, I will post a screenshot of it tomorrow, because this bug happened on my brother's computer and he is going to play all the night.

[2021-11-12 13:57] leozzaunn commented on #696
screenshot:
![2021-11-12_11 53 23](https://user-images.githubusercontent.com/94063023/141478512-fd94ef67-0e4f-4b1d-bdf0-ebdf765b9263.png)
 other screenshot:
![2021-11-12_11 53 20](https://user-images.githubusercontent.com/94063023/141478716-bc67ef2b-ca50-4ccf-af07-68efdfc9f6d3.png)
where haumea from galaxy space should be:
![2021-11-12_12 01 12](https://user-images.githubusercontent.com/94063023/1

[2021-11-22 17:13] MJRLegends commented on #682
Added for next update thx

[2021-11-22 17:13] #682 closed, assigned to MJRLegends

[2021-11-22 17:36] MJRLegends commented on #688
Please can you define what you mean by the unequip and essentially delete themselves, are we talking fully uninstalled and show showing installed via module manager or just the function of the modules themselves go?

[2021-11-22 17:48] MJRLegends commented on #696
Hey sorry for the delay getting back to you, Thank you yea i can fix this, i was not informed by the GalaxySpace, StarMaker of any compact breaking changes....

This is what needs to be fixed:

-Haumea - Only in ExtraPlanets for Galaxy Map Visuals, so im not to worried here
-MakeMake - Only in ExtraPlanets for Galaxy Map Visuals, so im not to worried here
-Eris - Needs fixing
-BlackHole - Needs fi

[2021-11-22 18:05] MJRLegends commented on #687
Please can you provide a video, showing how your launching and which items you use

[2021-11-23 01:25] darthvader45 commented on #687
It's been a while since I've done this, so I'll do it when I have plenty of free time (i.e. Thanksgiving most likely).

[2021-11-23 01:25] darthvader45 commented on #688
Completely uninstalling and no longer there.

[2021-11-28 15:20] leocorrea75 commented on #696
thanks! but it's not the extraplanets haumea, makemake and eris, it's galaxy space's ones that are not showing when extraplanets is on, they added their own haumea, makemake and eris, and sorry by not replying again you too.

[2021-11-29 00:05] NightScale5755 opened #697 "SUGGESTIONS: More generator types, and implementing the other galaxies as addons."
Hi there. So before I start, I decided to merge these two suggestions into one. I can split them if needed.

More generator types:
I know there are other mods that do this, so perhaps implement these as an addon?
* Wind generator. Works like Galaxy-Space's wind turbines, only working in planets with atmospheres. About as efficient as a coal generator? I suggest this as I personally don't want to u

[2021-11-29 12:16] leocorrea75 commented on #696
It's like issue #492, but now with haumea, and I found out that makemake and eris from galaxy space are only for a older version, and that I was using version 1.8.9 for blank planet, sorry I will change here

[2021-11-30 16:01] leocorrea75 commented on #696
I forgot I had 1 more addon on, and they also added charon for their pluto, but it's not reachable

[2021-12-16 08:40] Cyanide719 commented on #686
I have the same problem

[2021-12-16 08:51] MJRLegends commented on #686
How to fix is above

[2021-12-29 13:17] Not0xAstral opened #698 "Minecraft Crashes when i open Space map"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
No
### Description of Issue(Required)
[Description of the issue]
Minecraft Crashes when i open the map to go to other planets
### Steps to Reproduce Issue(Required)
1. [Fi

[2021-12-29 13:44] MJRLegends commented on #698
Please disable the following option: enableNewGalaxyMap in configs/AsmodeusCore/core.conf

[2021-12-29 13:44] #698 closed, assigned to MJRLegends

[2022-01-05 13:10] darthvader45 commented on #687
Okay, from rethinking my incident, launch pads would not go back into the inventory of the lander/parachest once I launch and then land on any planet with ExtraPlanets installed.  Seems to be a conflict between ExtraPlanets and Galacticraft.

[2022-01-06 20:45] darthvader45 commented on #687
Will launch back to Earth and see what I got in the parachest.

[2022-01-07 01:33] darthvader45 commented on #687
Okay, here's my videos, and apparently it works for the parachest and base GC landers, but not for the ExtraPlanets landers.  I think it's a problem with ExtraPlanets.

https://www.dropbox.com/s/8ouumrihbmocht3/2022-01-06%2015-51-57.mp4?dl=0
https://www.dropbox.com/s/cz12n57xlibqwun/2022-01-06%2016-20-11.mp4?dl=0

[2022-01-10 00:53] darthvader45 commented on #687
Nvm, I'm dumb, forgot to add storage to my rockets.  Guess I need that if I want to keep my launch pads.

[2022-01-13 00:48] matmor1208 opened #699 "Gravity normal while wearing space suit on asteroids"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
Yes
### Description of Issue(Required)
[Description of the issue]
Whenever my space suit is on my gravity is normal.
### Steps to Reproduce Issue(Required)
1. [First step]

[2022-01-13 00:49] matmor1208 commented on #699
im just really dumb and was wearing gravity boots. (Sorry)

[2022-01-13 00:49] #699 closed, assigned to MJRLegends

[2022-01-14 02:41] matmor1208 opened #700 "Shut off general info while choosing a planet"
Trying to select a space station without turning down my ui is impossible. Maybe just set a key one that can toggle it on and off?

[2022-01-20 15:27] MJRLegends commented on #696
Haumea was the only planet that can be visited and is not correctly being disabled when GalaxySpace compact config options are enabled. This will be fixed in the next update, as for the black hole thing please report to https://github.com/MJRLegends/BlankPlanet/issues as thats my other addons issue not ExtraPlanets

[2022-01-20 15:29] MJRLegends commented on #690
@Pregothedog Hey just a follow up on this issue report, please can i have your log files so i can look in to this issue thank you.

[2022-01-20 16:19] MJRLegends commented on #696
Update has been released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

[2022-01-20 16:19] #696 closed, assigned to MJRLegends

[2022-01-20 16:20] MJRLegends commented on #694
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-20 16:21] MJRLegends commented on #689
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-20 16:21] MJRLegends commented on #679
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-20 16:21] MJRLegends commented on #674
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-20 16:21] MJRLegends commented on #673
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-20 16:21] MJRLegends commented on #668
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-20 16:21] MJRLegends commented on #633
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-20 16:21] MJRLegends commented on #577
MC 1.12.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/3614752

MC 1.11.2, 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-01-28 16:49] HDL34 opened #701 "Compatibility problem with the Custom NPC's mod since the 0.7.4 update of the ExtraPlanets mod."
Since the 0.7.4 update of the mod, there are quite a few items of the Custom NPC's mod that don't work anymore or work very partially.
I asked the developer of the custom NPC mod to make an update but he told me to ask you because it's not his job to solve the problem.

[2022-01-28 21:15] MJRLegends commented on #701
Please fill out the issue template which gets pre added when making an issue report

[2022-01-28 21:15] #701 closed, assigned to MJRLegends

[2022-01-29 15:32] HDL34 commented on #701
Which issue model?

[2022-01-30 04:16] CheetahCyberBoi opened #702 "Make moons of celestial bodies visible on their space stations."
Title says it all. Maybe for multi moon places have the moons go up and down at different times.

[2022-02-01 18:30] BloCraSt opened #703 "1.7.10 "The game crashed whilst exception getting block type in world""
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required): Yes

### Description of Issue(Required)
The issue is that, game crashes a while after new singleplayer world creates. About 15 seconds after new world creation with that error: The game

[2022-02-01 19:28] MJRLegends commented on #703
i will talk to the ZollernGalaxy dev over this. Thank you for letting me know

[2022-02-01 19:33] BloCraSt commented on #703
What is a problem? And how can i solve this?

[2022-02-01 21:58] alphawolf918 commented on #703
Hey, Zollern Galaxy dev here. Just wanted to say that I apologize for the issues that my mod is causing, but it is definitely something on my end. Unfortunately, the 1.7.10 version is no longer supported. I'm considering retiring it, since it has so many issues. The 1.12 version is way better and is maintained, but I understand the desire to want to play a specific version. My personal recommendat

[2022-02-01 22:08] BloCraSt commented on #703
Okay, so i will uninstall coz it needs to be on 1.7.10, Thanks for help!

[2022-02-01 22:08] #703 closed, assigned to MJRLegends

[2022-02-05 19:06] deathsovushka opened #704 "Server crash when player join"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** Yes

### Description of Issue(Required)
Crash server when player join

### Steps to Reproduce Issue(Required)
1. start server
2. join

**Crash log/Log (if applicable):** [PASTEBIN. Do

[2022-02-05 23:44] MJRLegends commented on #704
Looks like you've got a tampered jar file somehow for ExtraPlanets please redownload from curseforge only and let me know if it still does it. Thank you

[2022-02-09 06:53] derpninja23 opened #705 "Extreme Tick Lag with space suits when used with Electroblob77 Wizardry Mod"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
yes. there was a closed issue, electroblob said he fixed this, but it is still an issue
### Description of Issue(Required)
extreme tick lag spikes when wearing any tier sp

[2022-02-09 17:12] MJRLegends commented on #705
Thank you yea looks like their comment on the other issue report got missed by me, i will defo look at this.

#631

[2022-02-09 17:16] MJRLegends commented on #705
Please can you test with this new update that just got released https://www.curseforge.com/minecraft/mc-mods/electroblobs-wizardry/files/3641408 and let me know if the problem still exists

[2022-02-09 23:40] derpninja23 commented on #705
it still lags out.

[2022-02-12 17:46] misterblusky985 opened #706 "Space Suit addition in config not working on Space Astronomy 2"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):**
Yes, there was one that was closed as the person found a workaround, I have linked the closed issue below. The fix they found is not applicable to my game.
https://github.com/MJRLegen

[2022-02-13 02:38] MJRLegends commented on #706
Thank you for the report, Yea sorry it was fixed in a few versions of mod after what the latest pack version has, as im that mod packs dev also just to let you know im unable to update the pack without removing some building blocks mods from the pack so i will probs not. But you should be able to manually update ExtraPlanets and it will work ok.

[2022-02-13 02:38] #706 closed, assigned to MJRLegends

[2022-02-17 11:32] Oldmemory1 opened #707 "A crash may be caused by the compatibility with botania"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
Yes
### Description of Issue(Required)
[Description of the issue]
The crash appeared when I was playing my modpack.I tried to search the venus rover in nei,then I saw some

[2022-02-17 13:20] MJRLegends commented on #707
Please could you upload the crashlog to pastebin instead as the one above requires me to make an account

[2022-02-18 01:07] Oldmemory1 commented on #707
Sorry for my carelessness,the crash report is here： https://pastebin.com/k4FWXjgv ,and the log is here:https://pastebin.com/h105xGxw

[2022-02-18 02:13] MJRLegends commented on #707
Thank you, How odd of a issue, i will have to get back to you on this issue once ive had a look at the code.

[2022-02-19 06:28] rebarakuk opened #708 "Galacticraft and Wumpleutil mod conflict"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
Yes

### Description of Issue(Required)
[Description of the issue]
https://github.com/Stormwind99/WumpleUtil/issues/3

### Steps to Reproduce Issue(Required)
1. [First ste

[2022-02-19 12:54] MJRLegends commented on #708
Does it do it for all Galacticraft and ExtraPlanets machines?

[2022-02-19 16:27] rebarakuk commented on #708
No, only with vehicle charger

[2022-02-19 23:33] MJRLegends commented on #708
Ok in that case i think i know why, and it will be a ExtraPlanets issue i believe

[2022-03-02 22:46] Khepricus opened #711 "Space Suit Jetpack Reduces Durability"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):**
Yes

### Description of Issue(Required)
Possible regression of #493 . Using the jetpack on the space suit jetpack will reduce durability to the point where getting hit even once will

[2022-03-02 23:45] MJRLegends commented on #711
Thanks for the report, I believe this has already been fixed to latest version of ExtraPlanets, please update or ask the mod pack dev to update in their new pack update.

[2022-03-02 23:45] #711 closed, assigned to MJRLegends

[2022-03-03 19:54] ToserBan opened #712 "Basic Solar Evaporation chamber doesnt output products"
Hi,
i make Potassium out of Potash shards with the basic solar evaporation chamber. This works. But when i try to get the potassium out of the bottom side of the machine, nothing happens. I tried the vanilla hopper, thermal expansion itemducts, mekanisms logistic transport pipe, ender io´s pipe and the item extraction cable from cyclic. None of the above worked. I remember it worked in an older re

[2022-03-09 17:02] kolamp commented on #705
Hi there,

I am having the same compatibility/memory leak issue.

I just wanted to point out, that I am quite sure electroblob77 did not implement a workaround for this on his side yet. The original issue https://github.com/Electroblob77/Wizardry/issues/648 is still open and I could not find any changes to the respective source files in (src/main/java/electroblob/wizardry/client/animation) when co

[2022-03-11 16:41] imadethisaccounttoreportbugs opened #713 "Compatability issues with MorePlanets"
**Sorry if you have done this before, I just couldn't find the issue.**

### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]

Yes, I have

### Description of Issue(Required)

Can't find the thing that the config files tell

[2022-03-11 17:20] MJRLegends commented on #713
If you cant find it dont worry about it, as it means you are on a different version

[2022-03-11 17:20] #713 closed, assigned to MJRLegends

[2022-03-12 23:28] ghost commented on #705
Same issue after equiping space suit memory goes up to 100%

[2022-03-22 01:35] THEDESTROYER9009 opened #714 "Space suit helmets highlighting mobs without sensor goggle module"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

Yes
Also asked MJRLegends about this bug

The space suit helmets are highlighting mobs like the sensor goggles but even when the sensor goggle module is not installed/enabled

1. Join a world with extraplanets.
2. Equip tier 1 (or probably any other tier) space suit helmet.

[2022-03-22 01:40] THEDESTROYER9009 opened #715 "Space suits not rendering on the player."
(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)

Checked closed issues
Also asked MJRLegends about this bug

The space suits do not render on the player.

Join a world with extraplanets.
Equip a space suit

![image](https://user-images.githubusercontent.com/102123998/159390151-653603f5-37dd-4261-b8c1-2abc2e65ad82.png)

No crash log

ExtraPlanets-1.12

[2022-03-22 02:00] THEDESTROYER9009 commented on #715
Ok so it was an issue with Vic's Modern Warfare mod. I thought I remembered that mod having compatibility issues with custom armor models. It is a compatability issue

[2022-03-26 18:26] something100 opened #716 "other planet/moon radiation values config resets"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes]

### Description of Issue(Required)
other planet/moon radiation values config resets to default every time I launch the game.

### Steps to Reproduce Issue(Required)
1. [change

[2022-04-03 18:38] MadProbe opened #717 "[1.7.10] Dungeon without valid enterance to the boss room"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** Yes

### Description of Issue (Required)
In the second dungeon i have visited i have not found any valid enterance to the boss room without breaking blocks.

### Steps to Reproduce Is

[2022-04-17 23:01] zyxkad opened #718 "Bug report"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]

### Description of Issue(Required)

I got a mystery bug:
<https://pastebin.com/1Nb9KqtJ>
As you see, when you joined the game, you will be kicked quickly, and you got no

[2022-04-18 02:32] MJRLegends commented on #718
: Exception caught during firing event net.minecraftforge.client.event.GuiOpenEvent@21e412e9:

java.lang.RuntimeException: Please disable the following option: enableNewGalaxyMap in configs/AsmodeusCore/core.conf

[2022-04-18 02:32] #718 closed, assigned to MJRLegends

[2022-05-01 03:17] Seathre commented on #705
Salutations! This still appears to be an issue and has been affecting my friends and I severely. Our temporary solution is to disable pressure on our server, but we would be glad to help troubleshoot the problem if needed.

[2022-05-14 16:18] Ande4442 commented on #715
how did you fix it?

[2022-05-18 19:38] MagmaSlime123 opened #719 "Crash."
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):**
Yes.

### Description of Issue(Required)
Game is crashing.

### Steps to Reproduce Issue(Required)
Launch a rocket of any kind.

**Crash log/Log (if applicable):**
No report is made.

[2022-07-14 19:27] ashyashton opened #720 "Double space station after following compatibility guide"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** Yes

### Description of Issue(Required)
I can't figure out what space station to disable

### Steps to Reproduce Issue(Required)
1. Start Minecraft via CurseForge with mods list detai

[2022-07-14 19:51] ashyashton commented on #720
**UPDATE:** I went to the Discord and asked which planet has ID -29 to see if I could figure it out and was told it was Mars from Galacticraft itself. I disabled Mars in the config of this mod, which seems to have worked!

[2022-07-14 19:51] #720 closed, assigned to MJRLegends

[2022-07-18 22:59] knoxhack opened #721 "Option to enable radiation in the overworld"
could you add a config option to enable radiation in the overworld? would be cool for wasteland type modpacks thanks :)

[2022-07-19 01:15] MJRLegends commented on #721
Cool idea thanks, i will consider it if i ever get time to work on this mod more

[2022-07-22 20:47] DeVviL commented on #720
Hello!
I was able to find a causal relationship in the melting of the error. The error itself says "Two space station types registered with the same home planet ID: -29". Keywords - "Two space station". That is, for one planet - two stations.
Steps to solve
1) Find a planet with this id. We have Mars from GalactiCraft.
  - config\Galacticraft\planets.conf -> parameter "I:dimensionIDMars=-29"
2) Tu

[2022-07-27 18:19] funniray opened #723 "Venus Rover isn't Craftable"
### ---Issue Report---

**Have you checked Closed Issues:** Yes

### Description of Issue
When attempting to craft a venus rover, it wants you to use an `ExtraPlanets:item.electricParts/4`.

### Steps to Reproduce Issue
1. Join Singleplayer
2. Search for Venus Rover recipe in NEI

**Crash log/Log:** [Pastebin](https://pastebin.com/rUvBuqW2)

**Screenshots:**
![Screenshot](https://media.discordapp.

[2022-07-30 03:05] MJRLegends commented on #719
Looks like a bunch of issues for Galaxyspace with galaxy map screen and some image files

[2022-07-30 03:05] MJRLegends commented on #719
Please report to them if they havent fixed it already

[2022-07-30 03:05] #719 closed, assigned to MJRLegends

[2022-07-30 03:05] MJRLegends commented on #720
Has been added to docs file unded step 6

https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2022-08-05 14:41] Xcyrons37 opened #724 "I have the same problem the moon appears in red or I spawn in Oberon"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]

### Description of Issue(Required)
[Description of the issue]

### Steps to Reproduce Issue(Required)
1. [First step]
2. [Second step]

**Crash log/Log (if applicable):**

[2022-08-05 15:12] MJRLegends commented on #724
You need to actually fill out the issue report please

[2022-08-05 15:12] #724 closed, assigned to MJRLegends

[2022-08-17 06:35] SachaTending opened #725 "crash on trying render item"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** Yes

### Description of Issue(Required)
[Description of the issue]

### Steps to Reproduce Issue(Required)
1. im launched minecraft and joined to creative flat world
2. opened invento

[2022-08-17 07:39] SachaTending commented on #725
full crash log
[crash-2022-08-17_07.21.17-client.txt](https://github.com/MJRLegends/ExtraPlanets/files/9357492/crash-2022-08-17_07.21.17-client.txt)

[2022-09-05 09:01] LifeDrainingCoding opened #726 "[1.12.2] Radiation Bug"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes]
Yes
### Description of Issue(Required)
[spacesuit(tier 4(for other tiers idk) doesn't protect from radiation]
spacesuit(tier 4(for other tiers idk) doesn't protect from radiatio

[2022-09-08 10:36] #726 closed, assigned to MJRLegends

[2022-09-20 20:18] MJRLegends commented on #725
Please report to LoliASM as i thinking its there changes causing issues, and it will be hard for me to debug from my end

[2022-09-30 19:23] Noodle1243 opened #729 "Extra Planet Tier Space Suits Frame Drop"
I'm playing the 1.12.2 modpack with my friends on a server, and we're trying to go to space but every time I see the space suit(even when im wearing it in my inventory) my fps drop from 95-120 down to 10-15 and is preventing us from continuing. I have a ryzen 5 1600x and a rx 580 with 16Gb of ram. My friend has the same exact specs and is running fine even while looking at the suits.
![low frames]

[2022-09-30 19:35] MJRLegends commented on #729
Please fill out the issue template

[2022-09-30 19:35] #729 closed, assigned to nobody

[2022-10-01 00:29] Noodle1243 opened #730 "1.12.2 Unknown issue with space suits causing frame drops"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]

### Description of Issue(Required)
I'm playing the 1.12.2 modpack with my friends on a server, and we're trying to go to space but every time I see the space suit(even wh

[2022-10-26 12:10] eraseded commented on #723
Has any fix been found yet, I accidently made them and now I physically can't log in to my server, my game crashes within seconds. I've tried /kill from the console but it doesn't register me as fully in when I attempt to log in so it doesn't work. Please let me know if there's a fix. Thanks

[2022-10-26 13:20] MJRLegends commented on #723
@eraseded please create a new issue for your crashing issue as this is not the same as this issue report

[2022-10-26 14:43] eraseded opened #731 "Venus rover wheels crash"
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues** [Yes]

### Description of Issue(Required)
[I accidently acquired some of the wheels for the Venus Rover whilst in 1.7.10 through a pet and now my game instantly crashes when trying to join the server. The wheels turned out to be called unnam

[2022-10-26 14:46] MJRLegends commented on #731
Ok so yea that file name you are showing me, shows you downloaded this mod from an illegal site that isnt safe and gives people false and viruses and older versions.

Please download from curseforge only as my mods are only from here.

https://www.curseforge.com/

FYI this issue was fixed years ago so you should be good once you got correct version

[2022-10-26 14:46] #731 closed, assigned to MJRLegends

[2022-10-26 14:48] eraseded commented on #731
Thanks, will do. I got the mod from a friend a year or so ago so that would be why.

[2022-10-26 15:09] eraseded commented on #731
Hey, sorry to bother you again,
but the wheels are still unnamed with the missing texture, the mod version is now 'ExtraPlanets-1.7.10-2.1.4.jar'.
Thanks

[2022-10-26 16:13] MJRLegends commented on #731
Yea this report and solution i gave was just to solve your crash issue, the other issues are still issues and will be fixed at a later date. But you now should be able to play without crashing

[2022-11-06 20:20] janojano5 commented on #730
What i can recommend and how did i solve this issue is mod for removing players armour. So basically you will download mod which will disable render of armours whenever you will go somewhere with suit, it disable yours and others players so you wont have this issue. Based on title i assume that you are running 1.12.2 mc version so this is mod that i download myself https://www.curseforge.com/minec

[2022-11-08 02:25] SparJar opened #732 "Extra Planets crashing on game launch after updating Launcher to version "Windows 10.0 2.3.481""
### ---Issue Report---
**(PLEASE DONT DELETE THIS TEMPLATE, YOUR ISSUE WILL BE IGNORED AND CLOSED IF YOU DO. | Required)**

**Have you checked Closed Issues (if applicable & PLEASE CHECK BEFORE POSTING | Required):** [Yes or No]
Yes

### Description of Issue(Required)
Extra Planets crashing game on load. This only started happening after the Minecraft Launcher updated to version "Windows 10.0 2.3.

[2022-11-08 02:29] MJRLegends commented on #732
Solution can be found in the crash log

Caused by: java.lang.RuntimeException: You have a double version of the same space station, station for planet ID: -13 You will most likely fix this by checking out compatibility guide over at https://docs.mjrlegends.com/ExtraPlanets/1.12.2compact/

[2022-11-08 02:29] #732 closed, assigned to MJRLegends

[2022-11-08 03:00] SparJar commented on #732
I did check that from a previous issue before submitting my own.  Venus is already disabled as it Mercury.  I do not see a planet directly correlating with ID -13 in the config to be able to disable it directly.
![image](https://user-images.githubusercontent.com/1742901/200464617-254ede5e-dfa7-46cd-b262-52fa98e32f4c.png)
That screenshot is the only time -13 appears in the config file.

[2022-11-08 03:07] MJRLegends commented on #732
Please contact your mod pack devs support team as something is broken with your mod packs setup.

[2022-11-08 03:08] MJRLegends commented on #732
ExtraPlanets is crashing because configs are messed up. As this isnt ExtraPlanets bug, the crash it forced to make the user away of a unhappy configuration

[2022-11-22 14:23] MJRLegends commented on #694
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:23] MJRLegends commented on #689
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:23] MJRLegends commented on #679
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:23] MJRLegends commented on #674
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:23] MJRLegends commented on #673
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:23] MJRLegends commented on #668
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:24] MJRLegends commented on #633
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:24] MJRLegends commented on #577
MC 1.11.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104281

MC 1.10.2, 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 14:31] MJRLegends commented on #712
Please use the template to submit bugs

[2022-11-22 14:31] #712 closed, assigned to nobody

[2022-11-22 15:01] MJRLegends commented on #694
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:01] MJRLegends commented on #689
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:01] MJRLegends commented on #679
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:01] MJRLegends commented on #674
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:01] MJRLegends commented on #673
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:01] MJRLegends commented on #668
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:01] MJRLegends commented on #633
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:01] MJRLegends commented on #577
MC 1.10.2 Update have released https://www.curseforge.com/minecraft/mc-mods/extraplanets/files/4104334

MC 1.8.9 update are delayed due a issue. I will keep this open in till other versions have released

[2022-11-22 15:53] #690 closed, assigned to MJRLegends

[2022-11-22 15:58] MJRLegends commented on #651
Im going to close this due to inactivity and lack of details to reproduce, if you still have the issue please open a new issue report

[2022-11-22 15:58] #651 closed, assigned to MJRLegends

[2022-11-22 16:43] MJRLegends commented on #417
Its taken 3 years but i have finally got around to fixing this, expect it to be fixed in the next set of updates

[2022-11-22 16:52] MJRLegends commented on #417
![2022-11-22_16 51 11](https://user-images.githubusercontent.com/8526321/203373933-da9ad633-9cd6-483a-a4c7-39ae8766683e.png)

[2022-11-22 17:10] MJRLegends commented on #650
Im going to close this due to inactivity and lack of details to reproduce, if you still have the issue please open a new issue report

[2022-11-22 17:10] #650 closed, assigned to MJRLegends

[2022-11-22 17:11] MJRLegends commented on #704
Im going to close this due to inactivity and lack of details to reproduce, if you still have the issue please open a new issue report

[2022-11-22 17:11] #704 closed, assigned to MJRLegends

[2022-11-22 17:43] MJRLegends commented on #716
I have finally got around to fixing this, expect it to be fixed in the next set of updates

[2022-11-23 13:36] MJRLegends commented on #715
@THEDESTROYER9009

Thank you for letting me know the issue, yea Vic's Modern Warfare mod does have a lot of compatability issues, please report this issue to them :)

[2022-11-23 13:42] MJRLegends commented on #730
@Noodle1243 Hey sorry for the delayed reply, please can you run this sampler on your client, during the lag your getting and export it once you have run it with the lag happening and post the .nps file here please https://docs.mjrlegends.com/General%20Minecraft/profiling/

[2022-11-23 13:50] MJRLegends commented on #705
Sorry for the delay getting back to you, but i think i have located the source of the problem thx to Wizardry mod dev giving me some thoughts over on #631

[2022-11-23 13:56] MJRLegends commented on #631
@Electroblob77

Sorry for the delay for getting back to you too, thank you for your message i will get this fixed on my end